@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Rokkitt&family=Spinnaker&display=swap');

body {
    background-color: white;
    font-family: Spinnaker, Cormorant Garamond, Rokkitt, sans-serif;
    color: #3a3a3a;
    position: relative;
}

main {
    padding: 15px;
}

img {
    object-fit: contain
}

/* landing section */
#img-landing {
    border-radius: 10px;
}

.py-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important; 
}

/* footer */
footer{
    color: #3a3a3a;
    width: 100%;
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 10px 0;
    background-color: #cdc392;
}

.credits {
    font-size: 0.8em;
    text-align: center;
}

.github-pages {
    text-align: center;
    margin: 0;
}

.github-pages li{
    display: inline;
}

.github-pages li p {
    margin: 0;
    font-size: 12px;
}

.github-pages i{
    font-size: 150%;
    color: #3a3a3a;
}
/* Navbar */

.navbar {
    padding-left: 30px;
    padding-right: 15px;
}

.navbar-nav li {
    padding: 15px;
}

.navbar-nav li a {
    font-size: 20px;
}

/* Carousel */

.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    height: 500px;
    display: flex;
    align-items: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    width: 400px;
}

.img-card {
    padding-top: 10px;
}

/* Gallery page */

#photo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px
}

.gallery{
    max-width: 450px;
    object-fit: scale-down;
    padding: 10px;
}

.gallery:hover {
   opacity: 0.5;
   transition: opacity 0.5s;
} 

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
  }
  
  .image-container:hover .text-overlay {
    opacity: 1;
  }
  
  .text-overlay p {
    color: black;
    font-size: 24px;
    text-align: center;
  }


/*contact us page*/

.container {
    text-align: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* 404 page */ 


.image-size {
   max-width: 760px;
   max-height: 760px;
}
